.permissions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: inherit; /* Use inherited background */
  color: inherit; /* Use inherited text color */
}

.permissions-list label {
  display: block;
  margin-bottom: 10px;
  font-size: 1rem;
}

.permissions-submit {
  padding: 10px 20px;
  background: #ffda45;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.permissions-submit:hover {
  background: #ffc700;
}
