.buddy-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: inherit ;
  color: inherit ;
  height: 100vh;
  text-align: center;
}

.input-group select,
.input-group input {
  width: 300px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-group button {
  padding: 10px 20px;
  background: #ffda45;
  color: black;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.input-group button:hover {
  background: #ffc700;
}
